<!DOCTYPE html>
<html>
  <head>
    <title>Hey</title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    <h1>Hey</h1>
    <p>Welcome to Hey</p>
    <a href="/about">To about page</a>
  </body>
</html>
